$red: #fa2444;
$orange: #fd7400;
$yellow: #ffe14a;
$green: #bedb39;
$purple: #6b39db;
$blue: #0054cc;
$cyan: #0c82f0;
$cyanLight: #6db4f6;
$grayDark: #989898;
$gray: #c7c7c7;
$grayLight: #ededed;

$bgGray: $gray;
$bgGrayLight: $grayLight;

$bodyFont: 'Open Sans', sans-serif;
$bodyFontSize: 12px;
$bodyFontColor: $grayDark;
$light: 300;
$semibold: 600;
$bold: 700;
$baseLineHeight: 1.5;

$baseSize: 20px;
$categorySize: $baseSize;
$baseMargin: $baseSize;
$spacer: $baseMargin/5;
$radius: $spacer;

$vegetables: $green;
$fats: $yellow;
$meats: $red;
$wheats: $orange;
$drinks: $blue;
$unneeded: #535353;
$mixed: $purple;
