#period-selector {
  margin-bottom: $baseMargin*2;
}

.progress-sub {
  text-align: center;
  padding-top: $spacer;
  margin-top: $spacer;
  border-top: 1px solid $grayLight;
  font-size: 0.8rem;
  font-style: italic;
}
