form {
  .form-row {
    width: 100%;
    margin-bottom: $baseMargin;
    @include clearfix();

    &.group {
      border: 1px solid $grayLight;
      border-radius: $radius;
      padding: $spacer $spacer 0 $spacer;
    }

    .form-row {
      margin-bottom: $spacer;
    }
  }

  .form-group {
    padding: $baseMargin/2;
    border-radius: $radius;
    border: 1px solid $gray;
    margin-bottom: $baseMargin;
  }

  .form-row-inner {
    display: block;
    float: left;
    padding-right: $spacer;

    &:last-child {
      padding-right: 0px;
    }

    &.quart {
      width: 25%;
    }

    &.half {
      width: 50%;
    }

    &.three-quart {
      width: 75%;
    }
  }

  label {
    text-transform: uppercase;
    margin-bottom: $spacer;
    display: block;
    @include pxToRem(12px);

    span {
      text-transform: none;
      font-size: 0.8em;
      font-style: italic;
    }
  }
}

input[type="text"],
input[type="number"],
input[type="date"],
input[type="password"],
input[type="email"],
select{
  -webkit-appearance: none;

  width: 100%;
  display: block;

  border: 0px;
  outline: 0px;
  border-bottom: 1px solid $gray;
  border-left: 2px solid transparent;

  font-family: inherit;
  font-size: inherit;
  color: $bodyFontColor;

  padding: $spacer;

  &:focus {
    border-color: $cyan;
  }

  &:disabled {
    background-color: $grayLight;
  }

  &.invalid {
    border-bottom-color: $red;
    border-left: 2px solid $red;
  }
}

select {
  padding-top: $spacer - 1px;
  background: url('/files/images/select.png') no-repeat White center right;
}
