.info-box {
  background-color: $bgGrayLight;
  padding: $spacer;
  margin-bottom: $baseMargin;
  border-radius: $radius;

  p:last-child {
    margin-bottom: 0px;
  }

  i {
    @include pxToRem(12px);
  }

  &.subtle {
    border: 1px solid $bgGrayLight;
    background-color: transparent;
  }
}
