#nav {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: $headerZ + 1;
  left: -100%;
  top: 0px;
  @include clearfix();
  @include transition(left 0.5s ease-in-out);

  #nav-menu {
    width: 80%;
    height: 100%;
    float: left;
    background-color: White;

    -webkit-box-shadow: 2px 0px 22px 0px rgba(0,0,0,0.75);
       -moz-box-shadow: 2px 0px 22px 0px rgba(0,0,0,0.75);
            box-shadow: 2px 0px 22px 0px rgba(0,0,0,0.75);
  }

  #nav-bg {
    width: 20%;
    height: 100%;
    float: right;
    background-color: rgba(0, 0, 0, 0);
    @include transition(background 0.25s ease-in-out);

    i {
      @include pxToRem($headerButtonSize);
      display: block;
      width: $headerButtonSize;
      height: $headerButtonSize;
      margin: $baseMargin auto;
      color: White;
    }
  }

  &.open {
    left: 0%;

    #nav-bg {
      background-color: rgba(0, 0, 0, 0.6);
    }
  }

  #user-info{
    $avatarsize: 60px;

    background-color: $green;
    color: White;
    padding: $baseMargin 0px;
    line-height: $baseLineHeight;

    .content-wrapper {
      position: relative;
    }

    .user-info-right {
      padding-left: $avatarsize + $spacer;
    }

    .user-info-left {
      position: absolute;
      top: 0px;
      left: 20px;
    }

    .avatar {
      width: $avatarsize;
      height: $avatarsize;
      position: relative;
      overflow: hidden;
      border-radius: $avatarsize/2;
      border: 2px solid white;

      img {
        width: 100%;
        height: auto;
        position: absolute;
        left: 50%;
        top: 50%;
        margin-top: -$avatarsize/2 + 2; //add border size
        margin-left: -$avatarsize/2 + 2; //add border size
      }
    }
  }

  li {
    border-bottom: 1px solid $gray;
    font-weight: bold;
    @include pxToRem(12px);
    @include transition(all 0.5s ease-in-out);

    a {
      display: block;
      padding: $baseMargin/2 0px;
      cursor: pointer;
    }

    i {
      @include pxToRem(20px);
      margin-right: $spacer;
      width: 20px;
      text-align: center;
      display: inline-block;
      color: $gray;
    }

    &.small {
      color: $gray;
      background-color: $grayLight;

      a {
        padding: $baseMargin/4 0px;
      }
    }

    &.active {
      color: $cyan;
      border-left: 4px solid $cyan;
      background-color: $cyanLightBg;
      border-bottom: 1px solid $cyan;

      i {
        color: $cyan;
      }
    }

    span {
      position: relative;
      top: -4px;
    }
  }
}
